body{
    background-color: azure;
}
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-4{
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-8{
    background: azure;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
 /* Style the submit button */
 button[type=submit] {
    background-color: skyblue;
    color: white;
    padding: 12px 20px;
    border: rounded;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  
.contact-form button:focus{
    box-shadow:none;
}