body{
  background-color: azure;
}

label {
  font-size: 20px;
}

#revature{
    color: salmon;
}

#social{
  margin: 10px;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

input[type=tel], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }



input[type=number], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }


  /* Style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: rounded;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=reset] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: rounded;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  
  legend{
    border: 1px solid white;
    margin-top: 10px;
  }
  

  /* Style the container */
.container {
    border-radius: 5px;
    background-color: salmon;
    padding: 20px;
  }

  .candy {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 30px;  
  }