body{
  background-color: azure;
  font-family: "Poppins", sans-serif;
}

label {
  font-size: 20px;
}

h3 {
  margin-top: 40px;
  margin-bottom: -50px;
  border: 3px solid #ccc;
}

#formtitle{
  text-align: center;
}

.underlineHover{
  font-size: 35px;
}
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }


/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

input[type=tel], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }



input[type=number], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }


  /* Style the submit button */
input[type=submit] {
    background-color: skyblue;
    color: white;
    padding: 12px 20px;
    border: rounded;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-left: 10px;
    margin-top: 5px;
  }

  input[type=reset] {
    background-color:skyblue;
    color: white;
    padding: 12px 20px;
    border: rounded;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 5px;
  }

  #myForm:invalid .button{
    background: red;
  }
  
  #myForm:valid .button{
    background: skyblue;
  }

  
  legend{
    border: 2px solid white;
    border-radius: 8px;
    margin-left: 5px;
    text-align: center;
  }
  

  /* Style the container */
.container {
    border-radius: 5px;
    background-color: #ff9b00;
    padding: 20px;
  }

  .candy {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 30px;  
  }


  .vertical-center {
   margin-top: 10%;
  }


button:focus{
    box-shadow:none;
}

/*Take vertical height and subtract slightly less than footer height */
.content{
  min-height: calc(100vh - 50px);
  margin-Bottom: 150px; 
}
