body{
  background-color: azure;
  font-family: "Poppins", sans-serif;
}

label {
  font-size: 20px;
}

#revature{
    color: salmon;
}

#social{
  margin: 10px;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    unit-sizing: border-unit;
    resize: vertical;
  }

input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    unit-sizing: border-unit;
    resize: vertical;
  }

input[type=tel], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    unit-sizing: border-unit;
    resize: vertical;
  }



input[type=number], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    unit-sizing: border-unit;
    resize: vertical;
  }


  /* Style the submit button */
input[type=submit] {
    background-color: skyblue;
    color: white;
    padding: 12px 20px;
    border: rounded;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=reset] {
    background-color:skyblue;
    color: white;
    padding: 12px 20px;
    border: rounded;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  
  legend{
    border: 1px solid white;
    margin-top: 10px;
  }
  

  /* Style the container */
.container {
    border-radius: 5px;
    background-color: peachpuff;
    padding: 20px;
  }

  .candy {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 30px;  
  }


  footer {
    position: fixed;
    background-color:papayawhip;
    text-align: center;
    padding: 5px;
    color: rgb(241, 160, 8);
  }
  footer li {
    list-style-type: none;
    display: inline;
    margin-right: 30px;
  }

  .vertical-center {
   margin-top: 10%;
  }